/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
/* reset, body - не переносить */
body {
  background-color: #9C9C9C;
}
/* content - тестовый класс (не переносить) */
.content {
  width: 824px;
}

.support {
  background-color: #FFF;
  border-radius: 20px;
  padding: 20px 50px;
}

.support__bread-crumbs {
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #9C9C9C;
}

.support__title {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #124263;
  margin: 0 0 24px 0;
}

.support__textBlock {
  margin: 0 0 60px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.support__text {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: #181716;
}

.support__form {
  margin: 0 0 60px 0;
}

.inputs-block {
  display: flex;
}

.support__input-question {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #07406F;
  box-shadow: 0px 0px 0px 4px rgba(181, 200, 214, 0.4);
  border-radius: 4px;
  margin: 0 20px 0 0;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #161613;
  padding: 0 24px;
}

.support__button-submit {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
  background-color: #4A69FF;
  box-shadow: 0px 0px 0px 4px rgba(181, 200, 214, 0.4);
  border-radius: 4px;
  width: 120px;
  height: 40px;
}

.margin-top-30 {
  margin-top: 30px;
}